body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul.nav li a {
  text-decoration: none;
  background-image: linear-gradient(
    -225deg,
    #a445b2 0%,
    #d41872 52%,
    #ff0066 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul.space-list-items li a {
  text-decoration: none;
  background-image: linear-gradient(
    -225deg,
    #a445b2 0%,
    #d41872 52%,
    #ff0066 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.button {
  color: #e6e6e6;
  background-image: linear-gradient(
    -225deg,
    #a445b2 0%,
    #d41872 52%,
    #ff0066 100%
  );
  border: none;
  font-size: 17px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
  text-decoration: none;
  font-weight: 500;
}

.button:hover:enabled {
  background-image: linear-gradient(120deg, #8d2599 0%, #aa1a2d 100%);
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}

.avatar {
  width: 150px;
  border-radius: 50%;
}

.space-list-items {
  margin-bottom: 7px;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.popular-rank {
  font-size: 20px;
  margin: 10px;
}

.row {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
}

.nav li {
  margin-right: 15px;
}

.active {
  font-weight: bold;
}
